chip "hazard3"
target-triple "riscv32imac-unknown-none-elf"
vector-table-size 0x80
probe-rs-name "RP235x"

compatible {
    - "rp2350-pico2"
    - "rp2350-pico2-w"
}

memory {
    region "flash" {
        base 0x10000000
        size 0x200000
        read
        execute
    }
    region "ram" {
        base 0x80000000
        size 0x80000
        read
        write
    }
}
